extends partials/layout.pug

block content
  .heading
    h1 JPJ Social Welcomes You

  each user in users
    .block.col-md-5
      h3= user.username
      h4= user.city
      h5= user.state
      h6= user.gender
        .likeButton
          a.btn.btn-primary.btn-sm(href='/') Like
        .viewButton
          a.btn.btn-primary.btn-sm(href='/') View Profile
