body {
  background: lightgrey;
  padding-top: 50px;
}
.myImg {
  width: 80px;
  height: 80px;
}

h1 {
  margin-top: 100px;
}
.login-form {
  align: center;
}

.btn {
  float:  right;
  margin-left: 10px;
}

label#like {
  display: inline-block;
  padding-left: 15px;
  text-indent: -15px;
}
.block {
  border: 1px solid grey;
}
